<h3>Overview</h3>

<ul>
  <li><%= link_to_styleguide "Getting Started", styleguide_path(:getting_started) %></li>
  <li><%= link_to_styleguide "Don't Limit Yourself", styleguide_path(:no_limits) %></li>
</ul>

<h3>Example Styleguide</h3>

<ul>  
  <li><%= link_to_styleguide "1.0 - Buttons", styleguide_path(:buttons) %></li>
</ul>