<h2>Welcome to Flair</h2>

<p>
  Flair is designed to make it really simple for you to add styleguides to your
  Rails 3 application. There are plenty of good reasons to do this but if you're
  like me, you just never justified the time to do it. With Flair, there really
  are no excuses...I've already done most of the work for you.
</p>