<h2>Limits - Who needs 'em?</h2>

<p>
  Just because Flair was designed originally to work with the KSS library does
  not mean you are limited to just stylesheet styleguides.
</p>

<p>
  You could easily create styleguides or references for how you want your
  developers and designers to code HTML, Ruby, CSS, JavaScript, whatever!
  The point is, don't limit these guides to just CSS if you don't want to. Use
  flair as a tool to get your entire team working in a consistent manner.
</p>

<p>
  Once that happens, unicorns will cry tears of sunshine and fairies will rain
  down so much <code>self.dust</code> that you'd think Elton John just exploded
  (love you Elton!).
</p>